@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../../fonts/basic/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Noto Sans Georgian Condensed';
    src: url('../../fonts/NotoSansGeorgianCondensed-Regular.woff2') format('woff2'),
        url('../../fonts/NotoSansGeorgianCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Georgian Condensed';
    src: url('../../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


    @font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('georgia.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Italic'), url('georgiai.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('georgiab.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold Italic'), url('georgiaz.woff') format('woff');
    }