html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #0F172A;
    font-family: "Roboto-med", sans-serif;

}

a {
    text-decoration: none;
    color: #0F172A;
}


.wrapper {}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 25px;

}


.hero__block-image{
    
}

.section__hero .conteiner{
    max-width: 1280px;
}


.section__hero{
    
}

.hero__block-text{
    max-width: 600px;
}


.hero__block-text h1 {
    font-family: 'Roboto-b';
    font-size: 72px;
}

.section__hero-flex{
    display: flex;
    gap: 80px;
}