:root{
    --LavenderMist:#E9DEFF;
   --DeepVoid:   #0B001A;
    --PureLight: #FFFFFF;
    --RoyalNight: #1E0044;
}



:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Gelasio", sans-serif;
  --font3: "Graphik", sans-serif;
}