:root{
    --LavenderMist:#E9DEFF;
   --DeepVoid:   #0B001A;
    --PureLight: #FFFFFF;
    --RoyalNight: #1E0044;
}



:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Gelasio", sans-serif;
  --font3: "Graphik", sans-serif;
}


:root {
  /* Твои шрифты */
  --font-main: 'GeorgiaCustom', serif;
  --font-heading: 'Montserrat', sans-serif;
  --font-accent: 'Gelasio', serif;

 
  --bg-dark: #0b021d;
  --text-white: #ffffff;
  --accent-purple: #b372ff;


  --ls-tight: -0.04em;

  --ls-normal: 0.01em;
 
  --lh-tight: 1.1;
  --lh-normal: 1.6;
}